@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-rgb: 0, 0, 0;
  --white-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black-rgb: 0, 0, 0;
    --white-rgb: 255, 255, 255;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--black-rgb));
  background-color: rgb(var(--white-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
